*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #1B2024;
}

form{
    text-align: center;
}

.container{
    max-width: 200px;
    background-color: aqua;
    margin: auto;
    margin-top: 120px;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 20px 20px 4px 4px rgb(0 0 0 / 20%);
    background-color: #191919;
}

.inputs{
    margin: 15px 0;
}

.inputs label{
    display: block;
    text-align: left;
    font-size: 14px;
}

.inputs input{
    margin-top: 5px;
    padding: 5px 0px;
    background-color: #191919;
    border: 1px #8685EF solid;
    border-radius: 25px;
    width: 98%;
}

.buttons button{
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 25px;
    background-color: #191919;
    font-size: 14px;
}

#idLogin{
    border: 1px #2CCC94 solid;
}

#idLogin:hover{
    background-color: #2CCC94;
}

#idRecSenha{
    background-color: #191919;
    border: 1px #F79114 solid;
}

#idRecSenha:hover{
    background-color: #F79114;
}
    